<app-filter 
[all]="totalProductCount" 
[bakery]="bakery" 
[oil]="oil" 
[fruits]="fruits"

></app-filter>
<!-- (selectedFilterRadioButtonChanged)="onFilterChange($event)" -->
<div class="row g-3">
@for (prod of prodArr; ; track $index) {
    @if (searchText === '' || prod.productShortName.toLowerCase().includes(searchText) ){
    <div class="col-md-3" (click)="selectedProduct = prod"  [ngClass]="{'opacity-50':!prod.productImageUrl}">
        <!-- [disableProduct]="!prod.productImageUrl" -->
        <!-- @if (selectedFilterRadio === 'all' || prod.categoryName === 'Bakery, Cakes & Dairy'.toString()) { -->
        
        <app-product [product]="prod" ></app-product>
        
        
    </div>
}
}
</div>