<div class="row justify-content-center mb-2">
    <div class="col-md-8">
        <span class="me-2">Filter:</span>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="all" />
            <!-- [(ngModel)]='selectedRadioButton' (change)="changeRadio()" -->
            <label class="form-check-label fw-medium" for="inlineRadio1">All <span class="fw-bold text-muted">({{all}})</span></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="bakery" />
            <!-- [(ngModel)]='selectedRadioButton' (change)="changeRadio() -->
            <label class="form-check-label fw-medium" for="inlineRadio2">Bakery <span class="fw-bold text-muted">({{bakery}})</span></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="oil" />
            <!-- [(ngModel)]='selectedRadioButton' (change)="changeRadio()" -->
            <label class="form-check-label fw-medium" for="inlineRadio2">Oil <span class="fw-bold text-muted">({{oil}})</span></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value="fruits" />
            <!-- [(ngModel)]='selectedRadioButton' (change)="changeRadio()" -->
            <label class="form-check-label fw-medium" for="inlineRadio2">Fruits & Vegetables <span class="fw-bold text-muted">({{fruits}})</span></label>
        </div>
    </div>
</div>
